force-app/main/default/flows/Create_PDF_and_Send_Slack_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <actionName>InvokeProcessPDFGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_To_Slack</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_To_Slack</name>
        <label>Send To Slack</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <actionName>PostToSlack</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channel</name>
            <value>
                <elementReference>$Record.Slack_User_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <stringValue>Compensation PDF for {!UserFullName}: {!SlackMessage}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Reservation_Variables</name>
        <label>Assign Reservation Variables</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>UserFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>SlackMessage</name>
        <dataType>String</dataType>
        <expression>{!Generate_PDF.salesforceBaseUrl}+ &apos;/&apos; + {!Generate_PDF.contentVersionId}</expression>
    </formulas>
    <formulas>
        <name>UserFullName</name>
        <dataType>String</dataType>
        <expression>{!UserFirstName} &amp; &quot; &quot; &amp; {!UserLastName}</expression>
    </formulas>
    <interviewLabel>Create PDF and Send Slack Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PDF and Send Slack Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>has_PDF__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <object>Slack_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assign_Reservation_Variables</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
